<!DOCTYPE html>
<html>
<%- include("../parts/head.ejs", {title: "Главная страница", style_href: "/css/about_page.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <div class="backgraund1">
                <div class="content__about">
                    <h2 class="content__about__title">
                    </h2>
                    <p class="content__about__text"></p>
                    <div class="content__about__links">
                        <h1>Люди которые помогли не умереть с голоду.</h1>
                        <h2>Пока мы делали этот сайт!</h2>
                        <p class="content__about__links__list">
                            <a href="" class="content__about__links__list__item">
                                <img src='/img/mailru.jpg' class="content__about__links__list__item__image" alt="Вк">
                            </a>
                            <a href="" class="content__about__links__list__item">
                                <img src='/img/army-russia.png' class="content__about__links__list__item__image" alt="YouTube">
                            </a>
                            <a href="" class="content__about__links__list__item">
                                <img src='/img/FondKino.jpg' class="content__about__links__list__item__image" alt="GitHub">
                            </a>
                            <a href="" class="content__about__links__list__item">
                                <img src='/img/Doshirak.jfif' class="content__about__links__list__item__image" alt="Instagram">
                            </a>    
                        </p> 
                    </div>                 
                </div>
            </div>
        </main>        
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>