<!DOCTYPE html>
<html>
<%- include("../parts/head.ejs", {title: "Главная страница", style_href: "/css/about_page.css"}) %>
<body>
        <%- include("../parts/header.ejs") %>
        <main class="content">
                <div class="content__about__fone">
                    <h2 class="content__about__fone__hleb">
                        HlebTeam
                    </h2>
                    <p class="content__about__fone__text">Где вы можете нас найти:</p>
                    <div class="center">
                    <p class="footer-main__bottom-wrapper__container__list">
                        <a href="" class="footer-main__bottom-wrapper__container__list__item">
                            <img src='/img/vk-icon.jpg' class="footer-main__bottom-wrapper__container__list__item__images" alt="Вк">
                        </a>
                        <a href="" class="footer-main__bottom-wrapper__container__list__item">
                            <img src='/img/youtube.jpg' class="footer-main__bottom-wrapper__container__list__item__images" alt="YouTube">
                        </a>
                        <a href="" class="footer-main__bottom-wrapper__container__list__item">
                            <img src='/img/GitHub.png' class="footer-main__bottom-wrapper__container__list__item__images" alt="GitHub">
                        </a>
                        <a href="" class="footer-main__bottom-wrapper__container__list__item">
                            <img src='/img/insta.jpg' class="footer-main__bottom-wrapper__container__list__item__images" alt="Instagram">
                        </a>    
                    </p> 
                    </div>                 
                </div>
                    </div>
                </div>
            </div>
        </main>        
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>