<!DOCTYPE html>
<html>
    <%- include("../parts/head.ejs", {title: "Помощь сайту", style_href: "/css/donate.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <div class="content__donate">
                <h2 class="content__donate__title title">
                    <polosa class="content__donate__title__lin"></polosa>
                    Помоги с развитием проекта.
                    <polosa class="content__donate__title__lin"></polosa>                  
                </h2> 
                <div class="footer-main__bottom-wrapper__container__Flist">
                <div class="footer-main__bottom-wrapper__container">
                    <p class="footer-main__bottom-wrapper__container__list">
                        <a href="" class="footer-main__bottom-wrapper__container__list__item">
                            <img src='/img/WebMoney.jpg' class="footer-main__bottom-wrapper__container__list__item__images" alt="WebMoney">
                        </a>
                        <a href="" class="footer-main__bottom-wrapper__container__list__item">
                            <img src='/img/yandex_money.png' class="footer-main__bottom-wrapper__container__list__item__images" alt="Yandex.Деньги">
                        </a>
                        <a href="" class="footer-main__bottom-wrapper__container__list__item">
                            <img src='/img/qiwi.png' class="footer-main__bottom-wrapper__container__list__item__images" alt="Patron">
                        </a>
                        <a href="" class="footer-main__bottom-wrapper__container__list__item">
                            <img src='/img/sberbank.png' class="footer-main__bottom-wrapper__container__list__item__images" alt="Sberbank">
                        </a>                       
                    </p>              
                </div> 
            </div>      
            </div>
        </main>
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>