<!DOCTYPE html>
<html>
    <%- include("../parts/head.ejs", {title: "Редактирование пользователя", style_href: "/css/edit_user.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <%- include("../parts/user_form.ejs") %>
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>