<!DOCTYPE html>
<html>
<%- include("../parts/head.ejs", {title: "Ошибка 500", style_href: "/css/error.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <div class="content__error">
                <h1 class="content__error__title">500 ERROR</h1>
                <p class="content__error__message">Произошла неопознанная ошибка!</p>
            </div>
        </main>        
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>