<!DOCTYPE html>
<html>
    <%- include("../parts/head.ejs", {title: "Поиск пользователей", style_href: "/css/find_user.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <form class="content__form-find-users form search_user_form">
                <div class="content__form-find-users__wrapper">
                    <input class="content__form-find-users__input-name input-text" type="text" name="username" placeholder="Введите имя...">
                    <input class="content__form-find-users__find-button button" type="submit" value="Найти!">                        
                </div>
            </form>
            <ul class="content__results search_result_container">
                                
            </ul>
        </main>
        <%- include("../parts/footer.ejs") %>
    </div>
    <script src="/js/search_user.js" type="text/javascript"></script>
</body>
</html>