<!DOCTYPE html>
<html>
    <%- include("../parts/head.ejs", {title: "Главная страница", style_href: "/css/find_user.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <form class="content__form-find-users form" action="" method="get" accept-charset="utf-8">
                <h2 class="content__form-find-users__title">Поиск пользователей</h2>
                <input type="text" name="username" value="Имя пользователя">
                <input type="submit" name="submit" value="Найти!">    
            </form>
        </main>
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>