<!DOCTYPE html>
<html>
    <%- include("../parts/head.ejs", {title: "Главная страница", style_href: "/css/find_user.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <form class="content__form-find-users form">
                <h2 class="content__form-find-users__title title">Поиск пользователей</h2>
                <div class="content__form-find-users__wrapper">
                    <input class="content__form-find-users__input-name input-text" type="text" name="username" placeholder="Имя пользователя">
                    <input class="content__form-find-users__find-button button" type="submit" value="Найти!">                        
                </div>
            </form>
            <ul class="content__results">
                <li class="content__results__item work-preview">
                    <header class="work-preview__header">
                        <h4 class="work-preview__header__title">Название работы</h4>
                    </header>
                    <div class="work-preview__content">
                        <img class="work-preview__content__preview-img" src="https://img.pixers.pics/pho(s3:700/PI/10/00/00/00/22/31/700_PI100000002231_e02f30188457081a4dadac9569e6fdd5_5b7abb5f7cd50_.,700,700,jpg)/wall-murals-white-window-closed-forest.jpg.jpg">
                        <p class="work-preview__content__description">
                            Описание работы бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла.
                        </p>
                        <ul class="work-preview__content__links">
                            <li class="work-preview__content__links__item">
                                <a class="work-preview__content__links__item__href" href="#">
                                    Страница на гитхабе
                                </a>
                            </li>
                            <li class="work-preview__content__links__item">
                                <a class="work-preview__content__links__item__href" href="#">
                                    Скачать!
                                </a>
                            </li>
                        </ul>
                    </div>
                    <footer class="work-preview__footer">
                        <ul class="work-preview__footer__buttons">
                            <li class="work-preview__footer__buttons__item">
                                <button class="work-preview__footer__buttons__item__button open_work button">
                                    Открыть полностью
                                </button>
                            </li>
                            <li class="work-preview__footer__buttons__item">
                                <button class="work-preview__footer__buttons__item__button save_work button">
                                    Сохранить себе
                                </button>
                            </li>
                            <li class="work-preview__footer__buttons__item">
                                <button class="work-preview__footer__buttons__item__button report_work button">
                                    Пожаловаться
                                </button>
                            </li>
                        </ul>
                        <time class="work-preview__footer__creation-date" datetime="2011-01-12">January 12th, 2011</time>
                    </footer>
                </li>                
            </ul>
        </main>
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>