<!DOCTYPE html>
<html>
<%- include("../parts/head.ejs", {title: "Главная страница", style_href: "/css/index.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <div class="content_blok_white"></div>
            <div class="content_blok_black"></div>
            <div class="content_blok_white"></div>
            <div class="content_blok_black"></div>
        </main>        
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>