<!DOCTYPE html>
<html>
<%- include("../parts/head.ejs", {title: "Главная страница", style_href: "/css/index.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <div class="content__block">
                        <ul class="">
                            <button class='class_blok_button'></button>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li><li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li><li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li><li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li><li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li><li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li><li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li><li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li><li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                        <li class="content__author__works__list__item work-preview">            
                            <div class="work-preview__content">
                                <a href="">
                                    <img class="work-preview__content__preview-img" src="/img/site-bonpass-temp.jpg">                               
                                    <header class="work-preview__header">
                                        <h4 class="work-preview__header__title">Название работы</h4>                                   
                                    </header>
                                </a>
                            </div>                        
                        </li>
                    </ul>
            </div>
        </main>      
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>