<!DOCTYPE html>
<html>
<%- include("../parts/head.ejs", {title: "Временная страница создания работы", style_href: "/css/index.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <%- include("../parts/work_form.ejs") %>    
        </main>        
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>