<!DOCTYPE html>
<html>
<%- include("../parts/head.ejs", {title: (create_new ? "Создание работы" : "Редактирование работы"), style_href: "/css/work_form.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <%- include("../parts/work_form.ejs", {create_new: true}) %>    
        </main>        
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>