**<!DOCTYPE html>
<html>
<%- include("../parts/head.ejs", {title: (create_new ? "Создание работы" : "Редактирование работы"), style_href: "/css/work_form.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <%- include("../parts/work_form.ejs", {create_new: true, work: {
            description: "",
            title: "",
<<<<<<< HEAD
            download_link: "", 
            images: [],
            links: []
        }}) %>    
=======
            download_link: "",
	    images: [],
	    links: []
	}
	}) %>    
>>>>>>> d8341a9fe5640e7d82ba3877ebe1fef8701b71f4
        </main>        
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>
