<!DOCTYPE html>
<html>
    <%- include("../parts/head.ejs", {title: "Главная страница", style_href: "/css/user_page.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <div class="content__author">
                <div class="content__author__about">
                    <img alt="Аватар" class="content__author__about__avatar" src="https://image.flaticon.com/icons/png/512/64/64572.png">  
                    <h3 class="content__author__about__name">Вася Пупкин</h3>
                    <ul class="content__author__about__statistics">
                        <li class="content__author__about__statistics__item">Работы: <b>0</b></li>
                        <li class="content__author__about__statistics__item">Подписчики: <b>0</b></li>
                        <li class="content__author__about__statistics__item">Подписки: <b>0</b></li>
                    </ul>
                </div>
                <div class="content__author__works">
                    <h3 class="content__author__works__title">Работы</h3>
                    <ul class="content__author__works__list">
                        <li class="content__author__works__list__item">
                            
                        </li>
                    </ul>
                </div>              
            </div>
        </main>
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>