<!DOCTYPE html>
<html>
    <%- include("../parts/head.ejs", {title: "Главная страница"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <div class="content__author">
                <div class="content__author__about">
                    <div class="content__author__about__content">
                        <a href="" class="header-main__navigation_item__href"><img alt="Профиль" class="header-main__navigation_item__href__images" src="https://image.flaticon.com/icons/png/512/64/64572.png" ></a>   
                        <a class="content__author__about__text">Информация об авторе</a>
                        <p class="p">
                            <a class="header-main__navigation_itemms" class="header-main__navigation_item__href">Подписчики: <b>0</b></a>
                            <a class="header-main__navigation_itemms" class="header-main__navigation_item__href">Подписки: <b>0</b></a>
                        </p>
                    </div>
                </div>
                <div class="content__author__portfolio">
                    <div class="content__author__works">
                        <a href='#' class="content__authors_item__favourite-works_plus">+</a>
                    </div>
                </div> 
            </div>
        </main>   
            
        <%- include("../parts/footer.ejs") %>
        <%- include("../parts/button_up.ejs") %>
    </div>
</body>
</html>