<!DOCTYPE html>
<html>
    <%- include("../parts/head.ejs", {title: "Работа пользователя", style_href: "/css/work_page.css"}) %>
<body>
    <div class="page">
        <%- include("../parts/header.ejs") %>
        <main class="content">
            <div class="content__work">
                <h3 class="content__work__title title">Название работы</h3>
                <img class="content__work__preview-img" src="https://img.pixers.pics/pho(s3:700/PI/10/00/00/00/22/31/700_PI100000002231_e02f30188457081a4dadac9569e6fdd5_5b7abb5f7cd50_.,700,700,jpg)/wall-murals-white-window-closed-forest.jpg.jpg">
                <p class="content__work__description">
                    Описание работы бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла.
                </p>
                <ul class="content__work__links">
                    <li class="content__work__links__item">
                        <a class="content__work__links__item__href" href="#">
                            Страница на гитхабе
                        </a>
                    </li>
                    <li class="content__work__links__item">
                        <a class="content__work__links__item__href" href="#">
                            Скачать!
                        </a>
                    </li>
                    <li class="content__work__links__item">
                        <a class="content__work__links__item__href" href="#">
                            Скачать!
                        </a>
                    </li>
                    <li class="content__work__links__item">
                        <a class="content__work__links__item__href" href="#">
                            Скачать!
                        </a>
                    </li>
                    <li class="content__work__links__item">
                        <a class="content__work__links__item__href" href="#">
                            Скачать!
                        </a>
                    </li>
                </ul>
                <ul class="content__work__images">
                    <li class="content__work__images__item">
                        <img class="content__work__images__item__image" src="/img/site-apple-temp.jpg">
                        <p class="content__work__images__item__description">Сайт Apple (типо)</p>
                    </li>
                    <li class="content__work__images__item">
                        <img class="content__work__images__item__image" src="/img/site-apple-temp.jpg">
                        <p class="content__work__images__item__description">Сайт Apple (типо)</p>
                    </li>
                    <li class="content__work__images__item">
                        <img class="content__work__images__item__image" src="/img/site-apple-temp.jpg">
                        <p class="content__work__images__item__description">Сайт Apple (типо)</p>
                    </li>
                    <li class="content__work__images__item">
                        <img class="content__work__images__item__image" src="/img/site-apple-temp.jpg">
                        <p class="content__work__images__item__description">Сайт Apple (типо)</p>
                    </li>
                    <li class="content__work__images__item">
                        <img class="content__work__images__item__image" src="/img/site-apple-temp.jpg">
                        <p class="content__work__images__item__description">Сайт Apple (типо)</p>
                    </li>
                </ul>
                <ul class="content__work__buttons">
                    <li class="content__work__buttons__item">
                        <button class="content__work__buttons__item__button save_work button">
                            Сохранить себе
                        </button>
                    </li>
                    <li class="content__work__buttons__item">
                        <button class="content__work__buttons__item__button report_work button">
                            Пожаловаться
                        </button>
                    </li>
                </ul>
                <time class="content__work__creation-date" datetime="2011-01-12">January 12th, 2011</time>
            </div>
        </main>
        <%- include("../parts/footer.ejs") %>
    </div>
</body>
</html>