@import url("./style.css");
body{
    background: rgb(5, 0, 46); 
}
.content__about {
    width: 100%;
    height: 100vh;
    background: rgb(5, 0, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content__about__title{
    color: rgb(5, 0, 46);
    text-align: center;
    font-size: 80px;
    margin: -20px 0 0 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #00ff88;
}
.content__about__text{
    text-align: center;
    color: rgb(167, 164, 164);
    font-size: 36px;
    margin: 10px;
}
.content__about__links__list__item__image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(0, 255, 136);
    transition: all 300ms ease;
    margin: 10px;
}
.content__about__links__list__item__image:hover{
    border-radius: 20%;
    border: 2px solid rgb(255, 208, 0);
}
@media(max-width: 700px) {
    .content__about__title{
        font-size: 55px;
    }
    .content__about__links__list__item__image{
        border-radius: 100px;
        margin: 15px;
        transition: all 400ms;
    }
    .content__about__links__list__item__image:hover{
        border: 3px solid #ffd000;
        border-radius: 10px;
        transition: all 400ms;
    }
    .content__about__text{
        font-size: 24px;
        margin: 10px;
    }
}
@media(max-width: 400px) {
    .authentication-form__form {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 450px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: all 400ms;
        overflow: hidden;
        z-index: 5;
      }
    .content__about__links__list__item__image{
        width: 80px;
        height: 80px;
        border: 3px solid #00ff88;
    }
    .content__about__links__list__item__image:hover{
        border: 3px solid #ffd000;
    }
    .content__about__text{
        font-size: 24px;
    }
}