@import url("./style.css");
body{
    background: #070631;
}
.content__donate {
    background: url('/img/donat-back.png') #070631 no-repeat;
    widows: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
    background-position: bottom right;
}
.content__donate__title {
    position: relative;
    margin: 0px;
    text-align: center;
    font-family: var(--header-text-font);
    -webkit-text-stroke-color: rgb(0, 140, 255);
    display: block;
    font-size: 100px;
    color: #000000;
    -webkit-text-stroke-width: 2px;
    top: -20px;
}
.content__donate__text {
    position: relative;
    display: block;
    font-size: 20px;
    text-align: center;
}
.content__donate__list {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.footer-main__bottom-wrapper__container__list__item__images{
    width: 100px;
    height: 100px;
    border: 3px solid rgb(0, 140, 255);
    border-radius: 20px;
    margin: 30px;
    transition: all 400ms;
}
.footer-main__bottom-wrapper__container__list__item__images:hover{
    width: 100px;
    height: 100px;
    border: 3px solid rgb(0, 140, 255);
    box-shadow: 0 0 40px rgb(0, 140, 255);
    border-radius: 100px;
    margin: 30px;
    transition: all 400ms;
}
.content__donate__title__lin{
    position: relative;
    border: 2px solid #ffd000;
}
@media(max-width: 1580px) {
    .content__donate {
        background: #070631 none;
    }
}

@media(max-width: 1080px) {
    .content__donate__title {
        font-size: 80px;
    }
    .content__donate {
        position: relative;
        background: url('/img/donat-back.jpg') no-repeat;
        width: 100%;
    }
}


@media(max-width: 550px) {
    .content__donate__title {
        font-size: 50px;
    }
    .content__donate {
        background: url('/img/donat-back.jpg') no-repeat;
        width: 100%;
    }
}
@media(max-width: 380px) {
    .content__donate__title {      
    position: relative;
    margin: 0px;
    top: 20px;
    text-align: center;
    font-family: var(--header-text-font);
    -webkit-text-stroke-color: rgb(0, 140, 255);
    display: block;
    font-size: 35px;
    color: #000000;
    -webkit-text-stroke-width: 1px;
    top: 40px;
    }
    .footer-main__bottom-wrapper__container__list__item__images{
        position: relative;
        top: 60px;
        width: 50px;
        height: 50px;
        border: 3px solid rgba(0, 0, 0, 0);
        border-radius: 100px;
        margin: 10px;
        transition: all 400ms;
    }
    .footer-main__bottom-wrapper__container__list__item__images:hover{
        position: relative;
        top: 60px;
        width: 50px;
        height: 50px;
        border: 3px solid rgb(0, 140, 255);
        border-radius: 100px;
        margin: 10px;
        transition: all 400ms;
    }
}