@import url(/css/style.css);
body{
    background: black;
    color: #008cff;
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.user-form__form__avatar-upload{
     flex-direction: column;
     width: 115px;
     height: 23px;
     outline: 2px dashed #008cff;
     margin: 13px;
     margin-left: 20px;
     outline-offset: 5px;
     background-color: #e0f2f700;
     font-family: 'Segoe UI';
     color: #ff000000;
     background: url('/img/upload.svg') rgba(0, 0, 0, 0);
}
.text{
 margin-left: 10px;
}
.user-form__form__avatar-delete{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    outline: 2px dashed #008cff;
    outline-offset: 1px;
    margin: 20px;
}
.message_box{
    text-align: center;
    color: rgba(255, 0, 0, 0.808);
}
.user-form{
    width: 500px;
    height: 630px;
    background: rgb(7, 0, 19);
    border: 2px solid #008cff;
    border-radius: 20px;
    box-shadow: 0 0 15px #008cff;
    font-size: 14px;
}
.user-form__form__input{
    background: rgba(0, 0, 0, 0);
    border: 2px solid #00ff8800;
    border-radius: 30px;
    margin: 15px;
    width: 200px;
    color: #008cff;
    padding-left: 10px;
    transition: all 400ms;
}
.user-form__form__input:hover,.user-form__form__input:active,.user-form__form__input:focus{
    border: 2px solid #008cff;
    color: #008cff;
    padding-left: 10px;
    transition: all 400ms;
    box-shadow: 0 0 10px rgb(95, 0, 190);
}
.user-form__form__about{
    background: rgba(0, 0, 0, 0);
    border: 2px solid #00ff8800;
    border-radius: 5px;
    padding: 10px;
    width: 91%;
    margin-left: 5px;
    height: 120px;
    color: rgb(0, 140, 255);
    resize: none;
    font-size: 14px;
    transition: all 400ms;
}
.user-form__form__about:hover{
    border: 2px solid rgb(0, 140, 255);
    transition: all 400ms;
    box-shadow: 0 0 10px rgb(95, 0, 190);
}
.user-form__form__date-wrapper{
    background: #00000000;
}
@media (max-width: 540px) {
    .user-form{
        width: 90%;
        height: 620px;
        background: rgb(7, 0, 19);
        border: 2px solid #008cff;
        border-radius: 20px;
        box-shadow: 0 0 15px #008cff;
        font-size: 14px;
    }
    .user-form__form__input{
        background: rgba(0, 0, 0, 0);
        border: 2px solid #00ff8800;
        border-radius: 30px;
        margin: 15px;
        width: 110px;
        font-size: 10px;
        color: #008cff;
        padding-left: 10px;
        transition: all 400ms;
    }
    .user-form__form__avatar-delete{
        width: 20px;
        height: 20px;
        margin-left: 20px;
        outline: 2px dashed #008cff;
        outline-offset: 1px;
        margin: 30px;
    }
    .user-form__form__about{
        background: rgba(0, 0, 0, 0);
        border: 2px solid #00ff8800;
        border-radius: 5px;
        padding: 10px;
        width: 91%;
        margin-left: 5px;
        height: 80px;
        color: rgb(0, 140, 255);
        resize: none;
        font-size: 12px;
        transition: all 400ms;
    }
}
@media (max-width: 380px) {
    .user-form__form__avatar-upload{
        flex-direction: column;
        width: 85px;
        height: 17px;
        outline: 2px dashed #008cff;
        margin: 13px;
        margin-left: 20px;
        outline-offset: 5px;
        background-color: #e0f2f700;
        font-family: 'Segoe UI';
        color: #ff000000;
        background: url('/img/upload.svg') rgba(0, 0, 0, 0);
   }
    .user-form{
        position: relative;
        top: 70px;
        width: 95%;
        height: 500px;
        background: rgb(7, 0, 19);
        border: 2px solid #008cff;
        border-radius: 20px;
        box-shadow: 0 0 15px #008cff;
        font-size: 10px;
    }
    .user-form__form__input{
        background: rgba(0, 0, 0, 0);
        border: 2px solid #00ff8800;
        border-radius: 30px;
        margin: 15px;
        width: 110px;
        font-size: 10px;
        color: #008cff;
        padding-left: 10px;
        transition: all 400ms;
    }
    .user-form__form__avatar-delete{
        width: 15px;
        height: 15px;
        margin-left: 25px;
        outline: 0px dashed #008cff;
        outline-offset: 1px;
        margin: 2px;
    }
    .user-form__form__about{
        background: rgba(0, 0, 0, 0);
        border: 2px solid #00ff8800;
        border-radius: 5px;
        padding: 10px;
        width: 91%;
        margin-left: 5px;
        height: 80px;
        color: rgb(0, 140, 255);
        resize: none;
        font-size: 12px;
        transition: all 400ms;
    }
    .content{
        height: 1000px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}