@import url("./style.css");
@import url("./user_preview.css");

.content {
	display: flex;
	justify-content: top;
	flex-direction: column;
	background: url('/img/poisk.png') #070631 no-repeat;
	background-position: bottom right;
}
.content__form-find-users {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content__form-find-users__title {
	margin: 10px;
}
.content__form-find-users__wrapper {
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.content__form-find-users__wrapper input {
	margin: 5px;
}
.content__results__item {
	background: #00000075;
	margin-top: 0px;
	padding: 5px;
}
.content__form-find-users__input-name{
width: 80vw;
}
.content__form-find-users__find-button{
width: 10vw;
}
.content__form-find-users__input-name{
border: 3px solid #ffffff;
border-radius: 50px;
transition: all 400ms;
padding-left: 10px;
}
	.content__form-find-users__find-button{
		border: 3px solid #ffffff;
		transition: all 400ms;
		border-radius: 0px;
		height: 50px;
		width: 140px;
	}
	.content__form-find-users__find-button:hover{
		border: 3px solid black;
		transition: all 400ms;
	}
	@media(max-width: 1350px) {
	    .content {   
		   background: #070631 none;
		}
	}
@media(max-width: 700px) {
    .content__donate__title {
        font-size: 66px;
	}
	.content__form-find-users__input-name{
		width: 50vw;
		}
		.content__form-find-users__find-button{
		width: 5vw;
		}
}
@media(max-width: 400px) {
    .content__donate__title {
        font-size: 66px;
	}
	.content__form-find-users__input-name{
		width: 250px;
		}
		.content__form-find-users__find-button{
		width: 5vw;
		}
}
@media(max-width: 360px) {
	.user-preview__statistics{
		margin: 0px;
	}
	.user-preview__buttons__item__button{
		padding: 3px;
		margin: 0px;
		bottom: 2px;
	}
	.content__form-find-users__wrapper {
		display: flex;
		width: 180px;
		height: 40px;
		margin-left: 30px;
	}
    .content__donate__title {
        font-size: 66px;
	}
	.content__form-find-users__input-name{
		width: 350px;
		height: 42px;
		border: 3px solid white;
		border-radius: 15px;
		transition: all 400ms;
		}
		.content__form-find-users__input-name:hover{
			border: 3px solid black;
			border-radius: 0px;
			}
			.content__form-find-users__find-button{
				border: 3px solid white;
				border-radius: 15px;
				transition: all 400ms;
				height: 50px;
				width: 60px;
		
			}
			.content__form-find-users__find-button:hover{
				border: 3px solid black;
				border-radius: 0px;
				transition: all 400ms;
				height: 50px;
				width: 120px;
			}
		}