@import url("./style.css");
body{
  background: rgb(5, 0, 46);
}
.content{
  margin-top: 100px;
}
.content_blok_1{
  background: white;
  width: 70%;
  min-height: 800px;
  margin-left: 15%;
  margin-right: 15%;
}
.content_blok_2{
 background: #292929;
 width: 100%;
 height: 750px;
}
.class_blok_button{
  background: url('/img/refresh.svg');
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  border: 0px solid #ffffff00;
}
.class_blok_button:focus{
  background: url('/img/refresh-hover.svg');
  animation: 1s linear 0s normal none infinite running rotate;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}