@import url("./style.css");
@import url("./work_preview.css");
body{
  background: rgb(5, 0, 46);
}
.content{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_blok_1{
  background: white;
  width: 65%;
}
.content_blok_2{
 background: #292929;
 width: 100%;
 height: auto;
 justify-content: center;
 align-items: center;
 display: flex;
 flex-wrap: wrap;
}
.class_blok_button{
  background: url('/img/refresh.svg');
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  border: 0px solid #ffffff00;
  cursor: pointer;
}
.class_blok_button:focus{
  background: url('/img/refresh-hover.svg');
  animation: 1s linear 0s normal none infinite running rotate;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@media (max-width: 1600px) {
  .content_blok_1{
    background: white;
    width: 65%;
    height: 100px;
    margin-top: -550px;
  }
  .content__author__works__list__item{
    width: 380px;
    height: 250px;
  }
  .work-preview__content{
    width: 200px;
    height: 200px;
  }
  .work-preview__content__preview-img{
    width: 380px;
    height: 220px;
  }
}