@import url("./normalize.css");
@import url("./fonts.css");

html,
body, 
.page {
  /* Variables */
  --header-text-font: 'Roboto';
  --common-text-font: 'Roboto Slab'; 
  text-decoration: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--common-text-font);
}
a {
  text-decoration: inherit;
}
.title_info{
  margin-top: 10px;
  text-align: center;

}
.title_text_foto{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(0, 255, 136);
  transition: all 300ms ease;
  margin: 10px;
}
.title_text_foto:hover{
  width: 50px;
  height: 50px;
  border-radius: 20%;
  border: 2px solid rgb(255, 208, 0);
  transition: all 300ms ease;
  margin: 10px;

}
.title_text{
  text-align: center;
}
.title {
  padding-top: 100px; 
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
.container {
	width: 95%;
	margin: 0 auto;
}
.services {
	margin-top: 80px;
}

.services__item	{
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

#services {
  background: rgba(0, 255, 136, 0.226);
	padding-bottom: 120px;
}
/* Header main */
.header-main{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
/* Header main navigation */
.header-main__navigation {
  height: 100px;
  z-index: 20;
  background: rgba(0, 0, 0, 0.521);
  position:fixed;
  margin: 0;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.header-main__navigation_item {
  text-align: center;
  width: 120px;
  height: 30px;
  -moz-box-shadow:0 0 15px black; box-shadow:0 0 10px black;
  margin: 10px;
  padding: 5px;
  position: relative;
  background: rgb(0, 0, 0);
  transition: all 300ms ease;
  color: rgb(0, 255, 136);
  left: 50px;
}
.header-main__navigation_item__href {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 25px;
  color: inherit;
}

.header-main__navigation_item{
  background: rgb(0, 0, 0);
  transition: all 300ms ease;
  color: rgb(0, 255, 136);
}
.header-main__navigation_item.no-background {
  background-size: 100%;
  width: 80px;
  height: 90px;
  -moz-box-shadow: none; box-shadow: none;
  margin: 0px;
  padding: 0px;
  background: none;
  border: none;
  transition: none;
  color: rgb(0, 255, 136);
  left: 0px;
}
.header-main__navigation_item:hover{
  background: rgb(0, 0, 0);
  border: 2px solid rgb(255, 208, 0);
  -moz-box-shadow: 0 0 15px rgb(0, 0, 0); box-shadow:0 0 15px rgb(0, 0, 0);
  transition: all 300ms ease;
  color: rgb(255, 208, 0);
}
.header-main__navigation_item.no-background:hover {
  background: none;
  border: none;
  transition: none; 
  -moz-box-shadow: none; box-shadow: none;
}
.header-main__navigation_item__href__image {
  margin: 15px;
  width: 60px;
  height: 60px;
  border: 2px solid rgb(0, 255, 136);
  border-radius: 50%;
  background: rgb(0, 255, 136);
}
.header-main__navigation_item__href__image:hover{
  border: 2px solid rgb(255, 208, 0);
  background: rgb(255, 208, 0);
}
.header-main__navigation_item-background-house{
  background: url('../img/home.png')no-repeat;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.header-main__navigation_item-background-house:hover{
  background-image: url('../img/home2.png');
}
.header-main__navigation_item__href {
  display: block;
  width: 100%;
  height: 100%;
}
/*Content styles*/
.content__authors_item__favourite-works_plus{
  margin: 100px;
  transition: all 400ms ease;
  width: 285px;
  height: 285px;
  border: 5px solid rgb(0, 255, 136);
  border-radius: 50%;
  text-align: center;
  font-size: 230px;
  color: rgb(0, 255, 136);
  }
  .content__authors_item__favourite-works_plus:hover{
    transition: all 400ms ease;
    width: 300px;
    height: 300px;
    border: 5px solid rgb(255, 208, 0);
    color: rgb(255, 208, 0);
    border-radius: 30%;
    text-align: center;
    font-size: 250px;
    }

    #button {
      display: inline-block;
      background-color: rgb(0, 255, 136);
      width: 55px;
      height: 55px;
      text-align: center;
      border-radius: 40px;
      position: fixed;
      bottom: 30px;
      right: 50px;
      transition: background-color .3s, 
        opacity .5s, visibility .5s;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
      transition: all 500ms ease;
      color: rgb(0, 0, 0);
      -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.507); box-shadow:0 0 10px black;
      font-size: 4em;
    }
    #button:hover {
      cursor: pointer;
      background-color: rgb(255, 208, 0);
      transition: all 500ms ease;
      color: rgb(0, 0, 0);
      border: 1px solid rgb(255, 208, 0);
    -moz-box-shadow:0 0 20px rgba(0, 0, 0, 0.507); box-shadow:0 0 30px rgb(255, 208, 0);
    }

    #button:active {
      background-color: #555;
    }
    #button.show {
      opacity: 1;
      visibility: visible;
    }

/*Content*/
.content {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* Top element */
.content__top-element {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  background: url('../img/glav.jpg') no-repeat center;
}
.content__top-element__title {
  position: relative;
  margin: 100px 0;
  text-align: center;
  font-family: var(--header-text-font);
  -webkit-text-stroke-color: rgb(0, 255, 136);
  display: block;
  font-size: 100px;
  color: #000000;
  -webkit-text-stroke-width: 2px;
}
.content__top-element__text {
  background: rgba(0, 0, 0, 0.541);
  border-radius: 10px;
  font-size: 25px;
  width: 800px;
  color: #ffffff;
  align-self: center;
}
/* Central element "tips" */
/* Authors */
.content__authors_item {
  width: 100%;
  height: 98vh;;
  text-align: center;
  padding: 10px;
}
.content__authors_item.even {
  background: black;
  color: rgb(255, 255, 255);
}
.content__authors_item.not-even {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.content__authors_item__author__link{
  color:rgb(255, 208, 0);
  font-size: 20px;
}
.content__authors_item__author__link:hover{
  color:rgb(0, 255, 136);
}
.content__authors_item__favourite-works {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.content__authors_item__favourite-works__preview {
  width: 450px;
  margin: 20px;
  transition: all 400ms ease;
  border: 2px solid rgb(255, 208, 0);
  -moz-box-shadow:0 0 15px rgba(255, 255, 255, 0.507); box-shadow:0 0 10px rgb(0, 0, 0);
}
.content__authors_item__favourite-works__preview:hover {
  transition: all 400ms ease;
  border: 2px solid rgb(0, 255, 136);
  opacity:0.6;
-moz-opacity:0.6;
filter: alpha(opacity=60) black;
-khtml-opacity: 0.6;
background-color:#000;
}
.content__authors_item__favourite-works__preview__image {
  width: 100%;
  height: auto;
}

@media (max-width: 862px) {
  .content__authors_item__favourite-works__preview {
    width: 90%;
    transition: none;
    border: 2px solid rgb(255, 208, 0);
    -moz-box-shadow:0 0 15px rgba(255, 255, 255, 0.507); box-shadow:0 0 10px rgb(0, 0, 0);
  }
  .content__authors_item__favourite-works__preview:hover {
    width: 90%;
    transition: none;
    border: 2px solid rgb(0, 255, 136);
  }
  .content__authors_item__favourite-works {
    flex-direction: column;
  }
  .content__authors_item {
    height: unset;
  }
  .header-main__navigation_item.no-background {
    background-size: 100%;
    width: 80px;
    height: 90px;
    -moz-box-shadow: none; box-shadow: none;
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
    transition: none;
    color: rgb(0, 255, 136);
    left: 0;
  } 
}
@media(max-width: 810px) {
  .content__top-element__text {
    top: 60px;
    border-radius: 10px;
    font-size: 15px;
    width: 90%;
    align-self: center;
    background: center;
  }
  .header-main__navigation_item__href__image{
    width: 60px;
    height: 60px;
    border: 2px solid rgb(0, 255, 136);
    border-radius: 50%;
    background: rgb(0, 255, 136);
    }
    .header-main__navigation_item__href__image:hover{
      border: 2px solid rgb(255, 208, 0);
      background: rgb(255, 208, 0);
      }
      .header-main__navigation_item.no-background {
        background-size: 100%;
        width: 80px;
        height: 90px;
        -moz-box-shadow: none; box-shadow: none;
        margin: 0px;
        padding: 0px;
        background: none;
        border: none;
        transition: none;
        color: rgb(0, 255, 136);
      }
}
@media(max-width: 720px) {
  .header-main__navigation_item {
    width: 23%;
    height: 23px;
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
  .header-main__navigation_item__href {
    font-size: 20px;
  }
  .header-main__navigation_item{
    transition: none;
  }
  .header-main__navigation_item:hover{
    background: rgb(0, 0, 0);
    border: 2px solid rgb(255, 208, 0);
    -moz-box-shadow:0 0 15px rgb(0, 0, 0); box-shadow:0 0 15px rgb(0, 0, 0);
    transition: all 300ms ease;
    color: rgb(255, 208, 0);
    
  }
  .header-main__navigation_item__href__image{
    margin: auto;
    width: 60px;
    height: 60px;
    border: 2px solid rgb(0, 255, 136);
    border-radius: 50%;
    background: rgb(0, 255, 136);
    }
    .header-main__navigation_item__href__image:hover{
      border: 2px solid rgb(255, 208, 0);
      background: rgb(255, 208, 0);
      }
      .header-main__navigation_item.no-background {
        background-size: 100%;
        width: 80px;
        height: 90px;
        -moz-box-shadow: none; box-shadow: none;
        margin: 0px;
        padding: 0px;
        background: none;
        border: none;
        transition: none;
        color: rgb(0, 255, 136);
      }
}
@media(max-width: 600px) {
  .title_text{
    text-align: center;
  }
  .title {
    padding-top: 50px; 
  }
  
  .title h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
  
  .title p {
    color: #777777;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .services {
    margin-top: 80px;
  }
  
  .services__item	{
    width: 270px;
    float: left;
    text-align: center;
  }
  
  .services__item h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .services__item p {
    color: #777777;
    font-size: 14px;
    line-height: 1.55em;
  }
  
  .services__item:last-child {
    float: right;
  }
  
  .services__item:nth-child(2) {
    margin-left: 60px;
  }
  
  #services {
    padding-bottom: 120px;
  }
  .content__top-element__title {
    text-align: center;
    display: block;
    font-size: 40px;
    background: center;
  }
      .header-main__navigation_item.no-background {
        background-size: 100%;
        margin: 0px;
        width: 80px;
        height: auto;
        -moz-box-shadow: none; box-shadow: none;
        margin: 0px;
        padding: 0px;
        background: none;
        border: none;
        transition: none;
        color: rgb(0, 255, 136);
      }
}
