.user-preview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #000000;
	color: #ffffff;
	margin: 0;
}
.user-preview__avatar {
  position: relative;
  margin: 20px;
  width: 100px;
  height: 100px;
  border: 2px solid #00ff88;
  border-radius: 50%;
}
.user-preview__name {
  position: relative;
  margin: 10px;
  text-align: center;
  font-family: var(--header-text-font);
  display: block;
  font-size: 30px;
  color: #ffffff;
}
.user-preview__buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5px;
}
.user-preview__buttons__item {
	margin: 10px;
}