@import url('./style.css');
@import url("./work_preview.css");
body{
  background: rgb(5, 0, 46); 
}
.content__author {
  margin-top: 90px;
  width: 100%;
}
.content__author__works__title {
  margin: 5px;
}
.content__author__about{ 
  width: 100%;
  height: 460px;
  position: relative;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__author__about__name{
  position: relative;
  margin: 10px;
  text-align: center;
  font-family: var(--header-text-font);
  display: block;
  font-size: 30px;
  color: #ffffff;
}
.content__author__about__avatar {
  position: relative;
  margin: 20px;
  width: 100px;
  height: 100px;
  border: 2px solid #00ff88;
  background: rgb(0, 255, 136);
  border-radius: 50%;
}
.content__author__about__statistics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
.content__author__about__statistics__item {
  position: relative;
  min-width: 100px;
  top: 20px;
  margin: 5px;
  padding: 5px;
  background: #000000;
  border: 2px solid #00ff88;
  color: #00ff88;
}
.content__author__about__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
.content__author__about__buttons__item {
  margin: 5px;
}
.content__author__works {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #ffffff;
  color: #000000;
  justify-content: center;
  align-items: center;
}
.content__author__works__list {
  width: 99%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.work-preview__content__plus{
background: #00ff88;
color: white;
text-align: center;
width: 200px;
height: 200px;
border: 4px solid #00ff88;
border-radius: 50%;
font-size: 70px;
transition: all 400ms;
margin: 50px;
}
.work-preview__content__plus:hover{
  background: #ffd000;
  border: 4px solid #ffd000;
  border-radius: 20%;
  font-size: 70px;
  transition: all 400ms;
  color: white;
  }
  .work-preview__content__plus__text{
    position: relative;
    top: -38px;
  }
   
   #scrollPatch{
     position: fixed;
     top: 0;
     right: 0;
     width: 10px;
     height: 100%;
     background: rgba(255, 255, 255, 0.05);
   }
   #progressbar{
     position: fixed;
     top: 0;
     right: 0;
     width: 10px;
     background: linear-gradient(to top, #008aff, #00ffe7);
     animation: animate 5s linear infinite;
   }
   ::-webkit-scrollbar{
     width: 0;
   }
   @keyframes animate
   {
     0%,100%
     {
       filter: hue-rotate(0deg)
     }
     50%
     {
       filter: hue-rotate(360deg)
     }
   }
   #progressbar:before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, #008aff, #00ffe7);
   filter: blur(10px);
   }
   
   #progressbar:after{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(to top, #008aff, #00ffe7);
     filter: blur(30px);
     }
@media (max-width: 720px) {
  .content__author {
    margin-top: 80px;
  }
}
@media (max-width: 400px) {
  .content__author {
    margin-top: 80px;
  }
  .content__author__about__statistics__item {
    position: relative;
    min-width: 50px;
    height: 20px;
    top: -20px;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    background: #000000;
    border: 2px solid #00ff88;
    color: #00ff88;
  }
  .content__author__about__buttons{
    position: relative;
    min-width: 50px;
    height: 20px;
    top: -30px;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    background: #000000;
    color: #00ff88;
  }
}
@media (max-width: 360px) {
  .content__author {
    margin-top: 80px;
  }
  .content__author__about__statistics__item {
    position: relative;
    min-width: 50px;
    height: 20px;
    top: -20px;
    margin: 5px;
    padding: 5px;
    font-size: 13px;
    background: #000000;
    border: 2px solid #00ff88;
    color: #00ff88;
  }
  .content__author__about__buttons{
    position: relative;
    min-width: 50px;
    height: 20px;
    top: -30px;
    margin: 5px;
    padding: 5px;
    font-size: 13px;
    background: #000000;
    color: #00ff88;
  }
}
