@import url("./style.css");
body{
	background: rgb(19, 0, 37);
}
.content__work__form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 60px;
	border: 2px solid #ffae00;
	box-shadow: 0 0 20px #ffae00;
	border-radius: 20px;
	width: 40%;
	margin: 50px;
}
.content__work {
	color: #ffae00;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 60px;
	width: 100%;
}
.content__work__title {
	font-size: 25px;
	color: rgb(19, 0, 37);
	background: #ffae00;
	width: 100%;
	text-align: center;
	margin: 20px;
	margin-top: -20px;
}
.content__work__preview-img {
	width: 100%;
	max-height: 500px;
	border-radius: 20px;
}
.content__work__description {
	background: rgba(0, 0, 0, 0.541);
	border-radius: 10px;
	font-size: 18px;
	max-width: 800px;
	color: #ffffff;
	align-self: center;
	text-align: center;
}
.content__work__links__item__img{
	margin: 5px;
	width: 100px;
	height: 100px;
	border: 2px solid #00ff8800;
	border-radius: 50px;
	margin-left: 40%;
	margin-right: 25%;
}
.content__work__links__item__img:hover{
	border: 2px solid #ffae00;
	box-shadow: 0 0 20px #ffae00;
	border-radius: 50px;
}
.content__work__images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.content__work__images__item {
	width: 200px;
	height: 100px;
	margin: 20px;
	transition: all 400ms ease;
	border: 2px solid #ffae00;
	box-shadow: 0 0 10px #000000;
	text-align: center;
	position: relative;
}
.content__work__images__item__image {
	width: 100%;
	height: 100%;
}
.content__work__images__item__description {
	position: absolute;
	margin-top: -21px;
	display: none;
	width: 100%;
	background: black;
}
.content__work__images__item:hover>.content__work__images__item__description {
	display: block;
}
.content__work__images__item:hover {
	cursor: pointer;
}
.content__work__buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.content__work__buttons__item {
	margin: 5px;
}
.work-form__form__link {
	text-align: center;
	width: 400px;
	margin-top: 30px;
	background: rgba(255, 255, 255, 0);
	height: 40px;
	border-radius: 50px;
	border: 2px solid #00ff8800;
	color: #ffae00;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 10px;
	transition: all 500ms;
  }
  .work-form__form__link:hover {
	border-radius: 50px;
	border: 2px solid #ffae00;
	box-shadow: 0 0 20px #ffae00;
	transition: all 500ms;
  }

@media (max-width: 720px) {
	.content__work__preview-img {
		width: 90%;
	}
}

@media (max-width: 460px) {
	.content__work__images__item {
		width: 90%;
	}
}
