<footer class="footer-main" id="services">
    <div class="title">
        <h2>
            HlebTeam
        </h2>
    </div>
    <div class="title_text">
        Не важно кто ты, важно кого ты!
        <div class="title_info">
            <p>
                <a href=""><img src='../img/mail.png' class="title_text_foto" alt=""></a>
                <a href=""><img src='https://logosklad.ru/UserFiles/image/army_russia/army-russia.png' class="title_text_foto" alt=""></a>
                <a href=""><img src='https://b1.filmpro.ru/c/811384.1200xp.jpg' class="title_text_foto" alt=""></a>
                <a href=""><img src='https://lh3.googleusercontent.com/proxy/Dydu8FwYM3SZpUZgOgDsPrXkis1Ef4ljGku3fnYSXPI_LfZJNcGS1HeWV9_1WBVOjZUWPBd1X9_Pn4JRh8nLdeKDnQq9bSEaolPyCdSDB0Xdcho' class="title_text_foto" alt=""></a>
                <a href=""><img src='https://www.meme-arsenal.com/memes/e1e83425ee51a4b5d34c2e34e80ceefe.jpg' class="title_text_foto" alt=""></a>
            </p>
            Год создания 2020
        </div>
    </div>
</footer>