<footer class="footer-main">
    <div class="footer-main__top-wrapper">
        <h2 class="footer-main__top-wrapper__title">
            HlebTeam
        </h2>
    </div>
    <div class="footer-main__bottom-wrapper">
        Не важно кто ты, важно кого ты!
        <div class="footer-main__bottom-wrapper__container">
            <p class="footer-main__bottom-wrapper__container__list">
                <a href="" class="footer-main__bottom-wrapper__container__list__item">
                    <img src='/img/mailru.jpg' class="footer-main__bottom-wrapper__container__list__item__image" alt="">
                </a>
                <a href="" class="footer-main__bottom-wrapper__container__list__item">
                    <img src='/img/army-russia.png' class="footer-main__bottom-wrapper__container__list__item__image" alt="">
                </a>
                <a href="" class="footer-main__bottom-wrapper__container__list__item">
                    <img src='/img/FondKino.jpg' class="footer-main__bottom-wrapper__container__list__item__image" alt="">
                </a>
                <a href="" class="footer-main__bottom-wrapper__container__list__item">
                    <img src='/img/Doshirak.jfif' class="footer-main__bottom-wrapper__container__list__item__image" alt="">
                </a>
            </p>
            Год создания 2020
        </div>
    </div>
</footer>