<footer class="footer-main">
    <div class="footer-main__information">
       <div class="footer-main__information__sponsors">
           <ul>Спонсоры:
               <li class="footer-main__information__sponsors_item">
                    <a href="https://armrus.ru/" target="_blank" class="footer-main__information__sponsors_item__href">Армия Русская</a>
               </li>
               <li class="footer-main__information__sponsors_item">
                    <a href="https://mail.ru/"  target="_blank" class="footer-main__information__sponsors_item__href">Muil.ru</a>
               </li>
               <li class="footer-main__information__sponsors_item">
                    <a href="https://www.google.ru/"  target="_blank" class="footer-main__information__sponsors_item__href">Googl</a>
               </li>
               <li class="footer-main__information__sponsors_item">
                    <a  target="_blank" href="http://badoo.datingwebsite24.com/ru-ru/?readytogo&site=7bdafe0c&language=ru&country=ru&category=mst&ad_service=15c01b53&ad_campaignid=1693752197&ad_groupid=72137289801&ad_creativid=340032563422&keyword=40a3de3b98856879&matchtype=b" class="footer-main__information__sponsors_item__href">Badu</a>
               </li>
               <li class="footer-main__information__sponsors_item">
                    <a  target="_blank" href="http://www.fond-kino.ru/" class="footer-main__information__sponsors_item__href">ФондКино</a>
               </li>
               <li class="footer-main__information__sponsors_item">
                    <a href="https://russia.tv/"  target="_blank" class="footer-main__information__sponsors_item__href">Россия1</a>
               </li>
            </ul>
            <ul>Команда:
                    <li class="footer-main__information__sponsors_item">
                         <a href=""  target="_blank" class="footer-main__information__sponsors_item__href">Николай Карасёв</a>
                    </li>
                    <li class="footer-main__information__sponsors_item">
                         <a href=""  target="_blank" class="footer-main__information__sponsors_item__href">Shuta4</a>
                    </li>
                 </ul>
                 <ul>Соцсети:
                        <li class="footer-main__information__sponsors_item">
                             <a href=""  target="_blank" class="footer-main__information__sponsors_item__href">ВК</a>
                        </li>
                        <li class="footer-main__information__sponsors_item">
                             <a href=""  target="_blank" class="footer-main__information__sponsors_item__href">GitHub</a>
                        </li>
                     </ul>
       </div> 
       <div class="footer-main__information__copyright">
            <p class="footer-main__information__copyright__item">© 2020 © All Right Reserved.</p>
            <p class="footer-main__information__copyright__item">Website HlebTeam</p>
       </div>
    </div>
</footer>