<footer class="footer-main" id="services">
    <div class="title">
        <h2>
            HlebTeam
        </h2>
    </div>
    <div class="title_text">
        Не важно кто ты, важно кого ты!
        <div class="title_info">
            <p>
                <a href=""><img src='/img/mailru.jpg' class="title_text_foto" alt=""></a>
                <a href=""><img src='/img/army-russia.png' class="title_text_foto" alt=""></a>
                <a href=""><img src='/img/FondKino.jpg' class="title_text_foto" alt=""></a>
                <a href=""><img src='/img/Vulkan.jpg' class="title_text_foto" alt=""></a>
                <a href=""><img src='/img/Doshirak.jfif' class="title_text_foto" alt=""></a>
            </p>
            Год создания 2020
        </div>
    </div>
</footer>