<header class="header-main">
    <a id="button">^</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    jQuery(document).ready(function() {   
      var btn = $('#button');
      $(window).scroll(function() {
        if ($(window).scrollTop() > 300) {
          btn.addClass('show');
        } else {
          btn.removeClass('show');
        }
      });
      btn.on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop:0}, '300');
      });
    });
    </script>
    <nav>
        <ul class="header-main__navigation">
            <li class="header-main__navigation_item-background-house"><a href="/" class="header-main__navigation_item__href"></a></li>
            <li class="header-main__navigation_item no-background"><a href="/donate" class="header-main__navigation_item__href"><img src="../img/donation.png" alt="Донат" class="header-main__navigation_item__href__image"></a></li>
            <li class="header-main__navigation_item no-background profile"><a href="/userpage" class="header-main__navigation_item__href"><img alt="Профиль" class="header-main__navigation_item__href__image" src="https://image.flaticon.com/icons/png/512/64/64572.png" ></a></li>
        </ul>
    </nav>
</header>