<header class="header-main">
    <nav>
        <button class="header-main__toogle-button">Меню</button>
        <ul class="header-main__navigation">
            <li class="header-main__navigation_item-background-house"><a href="/" class="header-main__navigation_item__href"></a></li>
            <li class="header-main__navigation_item no-background"><a href="" class="header-main__navigation_item__href"><img src="../img/donation.png" alt="Донат" class="header-main__navigation_item__href__image"></a></li>
            <li class="header-main__navigation_item no-background profile"><a href="/userpage" class="header-main__navigation_item__href"><img alt="Профиль" class="header-main__navigation_item__href__image" src="https://image.flaticon.com/icons/png/512/64/64572.png" ></a></li>
        </ul>
    </nav>
</header>