<header class="header-main">
    <nav>
        <ul class="header-main__navigation">
            <li class="header-main__navigation_item background-home"><a href="/" class="header-main__navigation_item__href" alt="На главную"></a></li>
            <li class="header-main__navigation_item background-donate"><a href="/donate" class="header-main__navigation_item__href" alt="Помочь"></a></li>
            <li class="header-main__navigation_item background-find-user"><a href="/userpage" class="header-main__navigation_item__href" alt="Поиск пользователей"></a></li>
            <li class="header-main__navigation_item background-userpage"><a href="/userpage/im" class="header-main__navigation_item__href" alt="Моя страница"></a></li>
            <li class="header-main__navigation_item background-info"><a href="/about" class="header-main__navigation_item__href" alt="Информация"></a></li>
        </ul>
    </nav>
</header>