<div class="user-form">
	<form class="user-form__form">
		<input type="text" name="username" class="user-form__form__input input-text" placeholder="Логин">
		<input type="email" name="email" class="user-form__form__input input-text" placeholder="Email">
		<input type="text" name="name" class="user-form__form__input input-text" placeholder="Ваше имя">
		<input type="text" name="surname" class="user-form__form__input input-text" placeholder="Ваша фамилия">
		<div class="user-form__form__date-wrapper">
			<input type="date" name="birthday" class="user-form__form__input">Дата рождения
		</div>
		<textarea name="about" class="user-form__form__about" placeholder="Опишите себя"></textarea>
		<div class="user-form__form__password-wrapper">
		<div class="user-form__form__avatar-wrapper">
			<input class='downlod' type="file" name="avatar" placeholder="Загрузить?">Загрузить
			<input type="checkbox" name="avatar_delete"> Удалить аватар?
		</div>
		<input type="password" name="old_password" class="user-form__form__input input-text" placeholder="Старый пароль">
		<input type="password" name="new_password" class="user-form__form__input input-text" placeholder="Новый пароль">
		<input type="password" name="confirm_password" class="user-form__form__input input-text" placeholder="Повторите пароль">
		<input type="submit" name="submit" class="input-text user-form__form__input button" value="Изменить">
		</div>
		<p class="message_box"></p>
	</form>
	<script src="/js/update_user.js" type="text/javascript"></script>	
</div>