<div class="work-form">
	<div class="work-form-blok">
        <div class="work-form-blok-text">
            Создание работы...
        </div>
            <img class="work-form-blok-foto" src="/img/site-bonpass-temp.jpg" alt="Фото работы">
    </div>
</div>