<div class="work-form">
	<div class="work-form-blok">
        <div class="work-form-blok-text">
            Создание работы...
        </div>
            
            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" class="swiper-container swiper-init demo-swiper">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img class="work-form-blok-foto" src="/img/site-bonpass-temp.jpg" alt="Фото работы"></div>
                  <div class="swiper-slide">Slide 2</div>
                  <div class="swiper-slide">Slide 3</div>
                  <div class="swiper-slide">Slide 4</div>
                  <div class="swiper-slide">Slide 5</div>
                  <div class="swiper-slide">Slide 6</div>
                  <div class="swiper-slide">Slide 7</div>
                  <div class="swiper-slide">Slide 8</div>
                  <div class="swiper-slide">Slide 9</div>
                  <div class="swiper-slide">Slide 10</div>
                </div>
              </div>
              <div class="work-form-blok-opisanie">
                  <p class="work-form-blok-text"></p>
              </div>
    </div>
</div>
<script src="/js/create_work.js"></script>